body {
  margin: 40px 40px;
  background-image: url(https://st.depositphotos.com/1641224/3124/i/950/depositphotos_31243767-stock-photo-pink-wall.jpg);
}

div.title {
  color: #2a7b89;
  border-bottom: 2px solid #2a7b89;
  padding: 0;
}

.work-exp {
  margin-top: 41px;
}

.Education {
  margin-top: 90px;
}

.timeframe {
  float: right;
}

.extra {
  margin-top:40px;
}
