body {
  margin: 40px 40px;
  background-image: url(https://www.selskapsshop.no/users/selskapsshop_mystore_no/images/1621_Ambiente_Lunsj_Rosa_3.jpg);
}

div.title {
  color: #2a7b89;
  border-bottom: 2px solid #2a7b89;
  padding: 0;
}

.work-exp {
  margin-top: 41px;
}

.Education {
  margin-top: 90px;
}

.timeframe {
  float: right;
}

.extra {
  margin-top:40px;
}
